body {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 14px;

}
img{
	max-width: 100%;
}
@font-face {
	font-family: 'BrandonGrotesque-Light';
	src: url('../fonts/BrandonGrotesque-Light.otf');
	src: local('☺'), url('../fonts/BrandonGrotesque-Light.otf') format('otf'), url('../fonts/BrandonGrotesque-Light.otf') format('truetype'), url('../fonts/BrandonGrotesque-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
h1,h2,h3,h4 {
	text-transform: uppercase;
	font-family:"BrandonGrotesque-Light";
	font-size: 14px;
}
h1 {
	line-height: 14px;
}
p {
	font-size: 14px;
}
.btn {
	text-transform: uppercase;
	font-family:"BrandonGrotesque-Light";
}
#hero {
	height: 280px;
	width: 100%;
	color: #fff;
	background: url("../img/hero-image-mobile.jpg") no-repeat 100%;
	background-size: cover;
}
#main {
	flex-direction: column;
	display: flex;
	text-align: center;
}
#main .copy {
	order: 2;
}
#main .image {
	order: 1;
}

#products img {
	margin-top: 20px;
}

.product {
	height: 490px;
}
.product img {
	display: block;
}
.product-description {
	height: 200px;
}
.poncho{
	margin-top:60px;
}


/*========== Non-Mobile First Method ==========*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 45px;
	}
	h2,h3 {
		font-size: 30px;
	}
	#main {
		flex-direction: row;
	}
	#main .copy {
		order: 1;
	}
	#main .image {
		order: 2;
	}
	#main h2 {
		font-size: 45px;
	}
	#main .product-description {
		height: auto;
	}
	#hero{
		height: 525px;
		padding: 150px;
	}
	.product {
		height: auto;
	}
	.product-description {
		height: auto;
	}

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#hero {
		background: url("../img/hero-image.jpg");
	}
	#main .copy {
		padding-top: 150px;
	}
	
	
}





